<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            height: 50px;
            width: 50px;
        }
        .user1{
            background-color: red;
        }
        .user2{
            background-color: green;
        }
        .hiddne{
            display: none;
        }
        .visible{
            display: block;
        }
    </style>
</head>

<body>

    <div id="app">

        <input type="text"  v-model="userClassInput" />
        <!-- change class by just property bindinhg -->
        <div :class="userClassInput" ></div> 

        <!-- change class by computed property bindinhg -->
        <div :class="addUserClass" ></div>
        
        <button @click='isParagraphVisible = !isParagraphVisible'>toggle visiblity</button>
        <p :class="{hiddne: !isParagraphVisible, visible: isParagraphVisible }"> show or not </p>

        <input type="text"  v-model="color" />
        <div :style="{backgroundColor: color}" ></div>




    </div>
    
</body>
<script src="https://unpkg.com/vue@next"></script>
<script src="./prob.js"></script>
</html>